<div id="footer">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <small>Copyright &copy; <%= link_to "Brian Medendorp", "http://www.medendorponline.com" %></small>
    </div>
    <div class="col-xs-4 col-xs-offset-2 text-right">
      <small><%= link_to "About", "" %></small>
    </div>
  </div>
</div>